div {
    background-color: white;
    min-height: 30px;
    margin: 10px;
}

#container {
    background-image: url('https://i.redd.it/d5g2jaawgw431.jpg');
    background-size: cover;
    height: 1100px;
    width: 1320px;
    position: absolute;
 }

#questions {
   
   margin-left: 170px;
   margin-right: 170px;
   color: teal;
   font-family: 'Times New Roman', Times, serif;
   font-weight: bold;
   font-size: 24px;
   text-align: center;
   position: relative;
}

#header {
    text-align: center;
    font-family: fantasy;
    color: black;
    font-size: 36px;
    margin-top: 15px;
    position: relative;
    top: 50px;
}

#mytime {
    font-family: fantasy;
    text-align: center;
    width: 80px;
    display: inline-block;
    margin: 0px;
}

#time {
    background-color: transparent;
    font-family: fantasy;
    color: black;
    text-align: center;
    width: 80px;
    position: relative;
    left: 600px;
    margin: 0;
}

#start_button {
    position: relative;
    top: 160px;
    left: 560px;
    padding: 15px 32px;
    font-size: 25px;
}